
$primary: rgb(44,77,144);
$light: rgb(211,211,211);

.brd-s {
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
}

.brd-r {
  border-radius: 100px;
}

$utilities: (
  
  "font-size":(
    property: font-size,
    class: ft,
    values:(
      1:1em,
      2:2em,
      3:3em,
      4:4em,
      5:5em,
      6:6em,
      7:7em,
      10:10px,
      20:20px,
      25:25px,
      30:30px,
      35:35px,
      40:40px,
      50:50px,
      62:62px,
      65:65px,
      70:70px,
      80:80em,
      90:90em,
      100:100em,
      75:75px,
    )
  ),

  "spacing": (
    property: margin-top,
    class: mg,
    values: (
      1:1px,
      2:2px,
      3:3px,
      4:4px,
      5:5px,
      6:6px,
      7:7px,
      8:8px,
      9:9px,
      10:10px,
      20:20px,
      30:30px,
    )
  ),

  "pose-t": (
    property: top,
    class: tp,
    values: (
      1:1px,
      2:2px,
      3:3px,
      4:4px,
      5:5px,
      6:6px,
      7:7px,
      8:8px,
      9:9px,
      10:10%,
      20:20%,
      30:30%,
      35:35%,
      42:42%,
      45:45%,
      50:50%,
      60:60%,
      90:90%,
      95:95%,
      99:99%,
    )
  ),

  "pose-l": (
    property: left,
    class: lp,
    values: (
      1:1%,
      2:2%,
      3:3%,
      4:4%,
      5:5%,
      6:6%,
      7:7%,
      8:8%,
      9:9%,
      10:10%,
      20:20%,
      24:24%,
      25:25%,
      26:26%,
      28:28%,
      30:30%,
      35:35%,
      45:45%,
      46:46%,
      40:40%,
      48:48%,
      49:49%,
      50:50%,
      60:60%,
      70:70%,
      200:20rem,
    )
  ),

  "pose-r": (
    property: right,
    class: rp,
    values: (
      1000:100px,
      1:1%,
      2:2%,
      3:3%,
      4:4%,
      5:5%,
      6:6%,
      7:7%,
      8:8%,
      9:9%,
      10:10%,
      20:20%,
      24:24%,
      25:25%,
      26:26%,
      28:28%,
      30:30%,
      35:35%,
      40:40%,
      48:48%,
      50:50%,
      60:60%,
      70:70%,
      200:200px,
    )
  ),

  "marg-x": (
    property: margin,
    class: mgx,
    values: (
      1:0 1px,
      2:0 2px,
      3:0 3px,
      4:0 4px,
      5:0 5px,
      6:0 6px,
      7:0 7px,
      8:0 8%,
      9:0 9%,
      10:0 10%,
      20:0 20%,
      24:0 24%,
      25:0 25%,
      26:0 26%,
      28:0 28%,
      30:0 30%,
      50:0 50%,
      60:0 60%,
      200:0 200px,
    )
  ),

  "Widtth": (
    property: width,
    class: wd,
    values: (
      4:4%,
      5:5%,
      10:10%,
      12:12%,
      20:20%,
      24:24%,
      25:25%,
      26:26%,
      28:28%,
      30:30%,
      35:35%,
      50:50%,
      60:60%,
      75:75%,
      90:90%,
      200:200px,
      400:400px,
      1600:1300px,
    )
  ),

  "Height": (
    property: height,
    class: ht,
    values: (
      2:2px,
      3:3px,
      4:4px,
      10:10px,
      20:20px,
      24:24px,
      25:25px,
      26:26px,
      28:28px,
      30:30px,
      40:40px,
      45:45px,
      50:50px,
      60:60px,
      70:70px,
      80:80px,
      90:90px,
      100:100px,
      200:200px,
      250:250px,
      300:300px,
    )
  ),
);

@import "./node_modules/bootstrap/scss/bootstrap.scss"